{% include "header.html" %}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button class="{{title}}" type="submit">전송</button>
<input type="text" placeholder="{{title}} 연습" />

{% set node = 'Node.js' %} {% set js = 'Javascript' %} {% set isLoggedIn = false
%} {% set fruit = 'peach' %}
<p>{{node}}와 {{js}}</p>
<p>{{'<strong>이스케이프</strong>'}}</p>
<p>{{'<strong>이스케이프</strong>' | safe}}</p>

<ul>
  {% set fruits = ['사과', '배', '오렌지', '바나나', '복숭아'] %} {% for item in
  fruits %}
  <li>{{loop.index}}번째 {{item}}</li>
  {% endfor %}
</ul>

{% if isLoggedIn %}
<div>로그인 되었습니다.</div>
{% else %}
<div>로그인이 필요합니다.</div>
{% endif %}

<div>{{'참' if isLoggedIn else '거짓'}}</div>

{% if fruit === 'apple' %}
<p>사과입니다.</p>
{% elif fruit === 'banana' %}
<p>바나나입니다.</p>
{% elif fruit === 'orange' %}
<p>오렌지입니다.</p>
{% else %}
<p>셋 다 아닙니다.</p>
{% endif %} {% include "footer.html" %}
